---
/**
 * @component PressCarousel
 * @description Partial reveal carousel for small press release links.
 * @example <PressCarousel />
 */
import {Image} from 'astro:assets';
import type { ImageMetadata } from "astro"; 
import metaData from "../../assets/press-images/press.json";
const images = import.meta.glob<{default: ImageMetadata}>('../../assets/press-images/*.{jpeg,jpg,png,gif,webp}');
const imagePaths = Object.values(images);
---

<div
  x-data="{
        scroll(direction) {
          const container = this.$refs.slider;
          const containerWidth = container.offsetWidth;

          // Find the first card to get the true width including padding
          const itemWidth = container.firstElementChild.offsetWidth;
          // Get the gap (spacing) between items
          const gap = parseFloat(getComputedStyle(container).gap) || 0;
          
          const singleCardWidth = itemWidth + gap;
          
          const cardsToScroll = Math.floor(containerWidth/singleCardWidth);
          const scrollAmount = singleCardWidth * cardsToScroll;

          container.scrollBy({
            left: direction==='next' ? scrollAmount : -scrollAmount,
            behavior: 'smooth'
          });
        }
    }"
  class="relative bg-surface mb-4"
>
  <header class="flex justify-between py-2 px-3 border-t-4 border-muted">
    <h3 class="font-black m-0 text-muted">In the Press</h3>
    <div>
      <button
        aria-label="Previous Page"
        @click="scroll('prev')"
        class="sc-7d6c53e6-1 iqKLGA"
      >
        <svg
          viewBox="0 0 32 32"
          width="1em"
          height="1em"
          class="sc-583246d7-0 jUqtCV"
          ><path d="M10.4 14.3 26.5 31h-6.4L5.5 16 20.1 1h6.4L10.4 17.7v-3.4z"
          ></path></svg
        >
      </button>
      <button
        aria-label="Next Page"
        @click="scroll('next')"
        class="sc-7d6c53e6-1 iqKLGA"
      >
        <svg
          viewBox="0 0 32 32"
          width="1em"
          height="1em"
          class="sc-583246d7-0 jUqtCV"
        >
          <path d="M21.6 14.3 5.5 31h6.4l14.6-15L11.9 1H5.5l16.1 16.7v-3.4z"
          ></path></svg
        >
      </button>
    </div>
  </header>

  <div
    x-ref="slider"
    class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth no-scrollbar gap-4 pb-4"
  >
    {
      imagePaths.map((image,i) => (

        <a href={metaData[i].href} target="_blank" class="group">
          <div class="snap-start shrink-0 w-64 bg-white border-slate-300 shadow-sm mx[-1rem] overflow-hidden">
            <Image 
              src={image()}
              alt={metaData[i].alt}
              class="aspect-square w-full h-64 object-cover"
            />
            
            <div class="p-2 bg-gray-200 group-hover:bg-accent transition-colors">
              <h5 class="font-bold text-slate-900 truncate text-ellipsis ">
                {metaData[i].title}
              </h5>
              <p class="text-xs text-slate-500 group-hover:text-black text-ellipsis transition-colors">{metaData[i].details}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
